<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF8">
    <title>test page</title>
    <link rel="stylesheet" href="../../public/assets/css/style.css" </head> <body>
    <h1>sadface handlebars</h1>
    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../public/assets/javascript/scrape.js"></script>
    </body>

</html>