<h1> Man I sure hope handlebars works</h1>

<div id="wrapper">
    <h1>let's see</h1>
    <div id="articles">
        <p></p>
    </div>
    <div id="comments">
        <p></p>
    </div>
    <div id="commentDisplay">
        <p></p>
    </div>
</div>